{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Music App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'musics/static.css' %}" />
  </head>
  <body>
    <header>
      <div class="user-controls">
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
      <div class="user-profile">
        <img src="{% static 'images/user-avatar.jpg' %}" alt="User Avatar" />
        <span>{{ user.username }}</span>
      </div>
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer>&copy; {{ year }} My Music App</footer>

    {% block extra_js %}{% endblock %}
  </body>
</html>
