{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Music App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'musics/static.css' %}" />
  </head>
  <body>
    <header class="welcome">
      <h1>Welcome to My Music App</h1>
      <button id="login-button">Log In</button>
    </header>

    <main class="welcome-main">
      {% block content %} LISTEN!
      <img src="{% static 'images/playlist2.jpg' %}" alt="Playlist 2" />
      {% endblock %}
    </main>

    <footer class="welcome-footer">
      &copy; {{ year|default:2024 }} My Music App
    </footer>
  </body>
</html>

<script>
  document
    .getElementById("login-button")
    .addEventListener("click", function () {
      window.location.href = "{% url 'music:login' %}";
    });
</script>
